[Unit]
Description=Changes wallpaper randomly

[Service]
Type=oneshot
ExecStart=feh --randomize --bg-fill %h/.wallpaper
StartLimitBurst=0

[Install]
WantedBy=plasma-workspace.target
