[Install]
WantedBy=plasma-workspace.target

[Unit]
Description=Plasma i3 Window Manager
Before=plasma-workspace.target

[Service]
ExecStart=/usr/bin/i3
Slice=session.slice
Restart=on-failure
